char_rnn/save 
webserver_t.py
model.zip
wml.yml
vizmodelbi
vizmodeluni
modelbackup
**/.DS_Store
**/.DS_Store?
*.DS_Store
**/.Rhistory
**/._*
**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
#**/*.pdf
**/*.ps 
**/*.synctex.gz
# Paper template packages #
############
**/*.7z
**/*.gz
**/*.tar
**/*.zip
*.pyc
*.RHistory

*.pdf
test.txt
vizmodel/train_options.json
*.Rhistory
.vscode
*vscode