html,
body {
  height: 100%;
  font-family: 'IBM Plex Sans';
  background: #fff;
}

.border {
  border: 1px solid #000
}

.containerwrap {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.buttonholder{
  height: 40px;
}
.sidebar {
  background: white;
  width: 250px;
  border-right: 1px solid #f0f3f6
}
.sidebarlinks{ 
  border-bottom: 1px solid #f0f3f6;
}
.beambox{
  height: 150px;
  width: 200px;
  display: inline-block;
  padding: 10px;
  background: #ECF1F7; 
  margin-bottom: 5px;
  overflow: scroll;
  font-size: 10px;
  cursor: pointer;
  margin: 0px 10px 10px 0px;
}

.iblock{
  display: inline-block;
}
.sidebarlinks a{
  text-decoration: none;
  color: #152934; 
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 0px 10px 10px ;
}
.sidebarlinks:hover{   
  background:#f0f3f6; 
  cursor: pointer;
  border-left: 4px solid #152934;
}
.sidebarselected {
  border-left: 4px solid #152934;
  background:#f0f3f6; 
}
.pad20 {
  padding: 20px;
}

.sidebarcontent {
  flex: 1;
  padding: 20px;
}

.maincontent {
  display: flex;
  flex-direction: column;
 
}

.bottomcontent {
  flex: 2;
  border-top: 1px solid #f0f3f6;
  background: white
}

.containerwrap>* {}

@media all and (max-width: 540px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .maincontent {
    flex: 3 0px;
  }
  .sidebar {
    order: 1;
  }
  .maincontent {
    order: 2;
  }
  .footer {
    order: 3;
  }
}

.examplebox{
  padding-bottom: 100px;
  margin-bottom: 50px;
  background: #fff;
}

.lighttext {
  font-weight: 200
}

.authornames{
  padding: 10px 0px 0px 0px;
  font-weight: bold;
}
.sidebartitle {
  margin: 0px 0px 10px 0px
}
.sidebardesc{
  padding: 10px;
  margin-top: 15px;
  background: #f0f3f6;
}

.maintitle {
  margin: 0px 0px 30px 0px
}

.vizbox {
  width: 100%;
  border: 0px solid #000;
  display: block;
}

.vega-actions {
  text-align: right;
  font-size: 0.6vw;
}
.vizsubbox{
  display: inline-block;
}

.vega-actions a {
  margin-right: 10px;
  text-decoration: none;
}


#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #f0f3f6;
  padding: 14px;
  background: #fff;
}

#footer a {
  text-decoration: none;
}

.inoutbox {
  margin: 0px; 
  padding: 10px;
  color: #152934;
  overflow: scroll;
}

.inoutcontent {
  border: 1px solid #B3BAC0;
  height: 100%;
  padding: 10px;
  overflow: scroll;
}

.inoutheader {
  padding: 10px 0px 10px 0px; 
  font-size: 12px;
  font-weight: bold;
}
.bborder {
  border-bottom: 1px solid #f0f3f6;
}
.loadbutton{
  display: block;
  width: 200px;
  margin-bottom: 6px;
}
.sourceflex{
  flex: 1;
}
.inputdata{
  height: 85px;
  font-size: 12px; 
}
.resultupdate{
  font-size: 12px;
  font-weight: lighter;
  padding: 10px 0px 10px 0px;
}
.sampleinput {
  width: 270px;
  display: inline;
}

.rnnsampleloader {
  display: inline-block;
}

/* Examples */

.graphdescription {
  border-bottom: 2px solid #f0f3f6;
  padding: 10px 10px 10px 0px; 
  font-size: 1.2em;
}

.progressbarbox{
  border-bottom: 2px solid #f0f3f6;
  padding: 10px 10px 10px 0px; 
  font-size: 1.2em;
}

.numexamplesinput{
  width: 150px; 
  display: inline-block;
  padding: 0px 0px 2px 10px; 
}
.examplesStatus{
  display: inline;
  background: #152934 ;
  color: #fff;
  height: 30px;
  margin-right: 5px;
  padding: 6px 9px 10px 10px ;
}
.exampleprogresbarouter{
  background: #B3BAC0;
  height: 5px;
  margin: 0px 0px 25px 0px;
}

.exampleprogressbarinner{
  background:#152934;
  height: 100%;
  width: 2px; 
}

.hidden{
  display: none;
}

/* toast */

.toastDivBox {
  position: absolute;
  top: 0;
  right: 0;
}

.disqusbox {
  margin: 10px; 
}


/* documentation */

.abstractcontent{
  font-weight: lighter;
  padding: 10px 10px 10px 0px;
  line-height: 150%
}

.phantomred{
  border-left: 10px solid #F09310;
  padding: 0px 0px 0px 10px ;
}

.phantomgreen{
  border-left: 10px solid #3BD804;
  padding: 0px 0px 0px 10px ;
}

.documentationlink{
  font-weight: bold;
}

a.documentationlink {
  color:#152934
}
.pagesection{
  display: none;
}

/* Graph */

.beamgraphbox {
  border-bottom: 2px solid #152934;
  margin: 0px 10px 10px 0px;
  padding: 10px ;
}

.updatenotes{
  border-left: 4px solid #152934;
  background: #ECF1F7;
  padding: 10px;
  font-weight: lighter;
}

.bottomgreen {
  border-bottom: 2px solid #3BD804;
}

.bottomred{
  border-bottom: 2px solid #F09310;
}

[tooltip]:before {
  /* needed - do not touch */
  content: attr(tooltip);
  position: absolute;
  opacity: 0;
  
  /* customizable */
  transition: all 0.15s ease;
  padding: 10px;
  color: #fff; 
  box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
  /* needed - do not touch */
  opacity: 1;
  
  /* customizable */
  background:#152A36;
  margin-top: -50px;
  margin-left: 20px;    
}

[tooltip]:not([tooltip-persistent]):before {
  pointer-events: none;
}
 